@mixin usability($view) {
  .#{$view}pointer {
    cursor: pointer;
  }
  .#{$view}no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .box-#{$view}shadow {
    box-shadow: var(--box-shadow, 0 3px 6px rgba(0, 0, 0, 0.12));
  }
  .#{$view}shadow-none {
    box-shadow: none;
  }
}

