$sizes: ('extra-small': 2rem, 'small': 2.5rem, 'large': 3.5rem, 'extra-large':4rem);
$colors: ('primary', 'secondary', 'accent');
$modes: ('basic', 'line', 'solid');

@mixin buttons() {
  .btn, button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    font: var(--btn-font, 500 1rem var(--font-family));
    border-radius: var(--btn-border-radius, 0);
    border: 1px solid transparent;
    vertical-align: middle;
    box-shadow: var(--btn-box-shadow, none);
    cursor: pointer;
    height: 3rem;
  }

  .btn:hover, button:hover {
    background: #f4f5f6;
  }

  .btn:active, button:active {
    background: #f0f1f2;
  }

  .btn:has(i, span, .btn__icon), button:has(i, span, .btn__icon) {
    gap: 1rem;
  }
  [class*="material"].\!trim-icon {
    margin-right: calc(-1em / 4);
    margin-left: calc(-1em / 4);
  }
  @each $size, $value in $sizes {
    .btn.#{$size}, button.#{$size} {
      height: #{$value};
      padding: 0 calc(#{$value} / 2);
      font: var(--btn-#{$size}-font, 500 1rem var(--font-family));
    }
  }

  /* Flat version = Default  */
  @each $color in $colors {
    .btn.flat-#{$color}, button.flat-#{$color} {
      color: var(--color-#{$color});
    }
  }

  /* Solid version */
  @each $color in $colors {
    .btn.solid-#{$color}, button.solid-#{$color} {
      background: var(--color-#{$color});
      color: var(--color-#{$color}-inverted, white);
    }
  }
  @each $color in $colors {
    .btn.solid-#{$color}:hover, button.solid-#{$color}:hover {
      background: var(--color-#{$color}-deep);
    }
  }
  .btn.solid-white, button.solid-white {
    background: var(--color-white, white);
  }
  .btn.solid-white:hover, button.solid-white:hover {
    background: var(--color-gray-pale, #dddddd33);
  }

  /* Line version */
  .btn.line, button.line {
    border-color: var(--color-default);
    color: var(--color-default);
  }
  .btn.line:hover, button.line:hover {
    background: var(--color-gray-pale, #dddddd33);
  }

  /* Line version with colors */
  .btn.line-white, button.line-white {
    background: transparent;
    border-color: var(--color-white, white);
    color: var(--color-white, white);
  }
  .btn.line-white:hover, button.line-white:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--color-white, white);
    color: var(--color-white, white);
  }

  @each $color in $colors {
    .btn.line-#{$color}, button.line-#{$color} {
      border-color: var(--color-#{$color});
      color: var(--color-#{$color});
    }
  }
  @each $color in $colors {
    .btn.line-#{$color}:hover, button.line-#{$color}:hover {
      background: var(--color-#{$color}-pale, transparent);
    }
  }

  .btn.basic, button.basic {
    border: 1px solid #ddd;
    background: #fafafa;
  }
  .btn.basic:hover, button.basic:hover {
    background: #f4f5f6;
  }
  .btn.basic:active, button.basic:active {
    background: #f0f1f2;
  }

  .btn-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
  }
  .btn-icon:hover {
    background-color: #f7f8f9;
  }

  .btn-icon:active {
    background: #f0f1f2;
  }

  .btn-icon.small {
    width: 30px;
    height: 30px;
    font-size: .9rem;
    padding: 0;
  }

  .btn-icon.small .material-icons, .btn-icon.small .material-icons-outlined, .btn-icon.small .material-symbols-outlined {
    font-size: 20px;
    padding: 0;
  }

  button.btn-icon {
    -webkit-appearance: none;
    outline: none;
  }

}
