.btn-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer
}

.btn-icon:hover {
    background-color: #f7f8f9
}

.btn-icon:active {
    background-color: #f2f2f2
}

.btn-icon i {
    font-size: 1rem
}

.btn-icon.small {
    width: 30px;
    height: 30px;
    font-size: .9rem
}

.btn-icon.small .material-icons, .btn-icon.small .material-icons-outlined {
    font-size: 20px
}

button.btn-icon {
    -webkit-appearance: none;
    outline: none
}

.btn {
    min-height: 40px;
    display: flex;
    cursor: pointer;
    font-size: .9rem;
    line-height: 14px;
    color: var(--text-color);
    justify-content: center;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    align-items: center;
    background: white;
    font-weight: 700;
    transition: .05s;
    border: none;
    border-radius: var(--border-radius, 4px)
}

button.btn {
    -webkit-appearance: none;
    outline: none;
    background: none
}

.btn.small {
    min-height: 35px;
    padding: .25rem 1rem;
    font-size: .8rem
}

.btn.small .material-icons, .btn.small .material-icons-outlined {
    font-size: 20px
}

.btn.extra-small {
    min-height: 30px;
    padding: .25rem .75rem;
    font-size: .75rem
}

.btn.extra-small .material-icons, .btn.extra-small .material-icons-outlined {
    font-size: 16px
}

.btn.large {
    min-height: 50px;
    padding: .35rem 1.5rem;
    font-size: 1.1rem
}

.btn:active {
    background: #f0f1f2
}

.btn > * + * {
    margin-left: .5rem
}

.btn:hover {
    background: #f4f5f6
}

.btn:active {
    background: #f0f1f2
}

.btn.primary i, .btn.primary span {
    color: var(--primary)
}

.btn.secondary i, .btn.secondary span {
    color: var(--secondary)
}

.btn.accent i, .btn.accent span {
    color: var(--accent)
}

.btn.stroked {
    border: 1px solid #ddd;
    background: #fafafa
}

.btn.stroked:hover {
    background: #f4f5f6
}

.btn.stroked:active {
    background: #f0f1f2
}

.btn.stroked.primary i, .btn.stroked.primary span {
    color: var(--primary)
}

.btn.stroked.secondary i, .btn.stroked.secondary span {
    color: var(--secondary)
}

.btn.stroked.accent i, .btn.stroked.accent span {
    color: var(--accent)
}

.btn.outline {
    border: 1px solid var(--border-color)
}

.btn.outline:hover {
    border: 1px solid #f4f5f6;
    background: #f4f5f6
}

.btn.outline:active {
    border: 1px solid #f0f1f2;
    background: #f0f1f2
}

.btn.outline.primary {
    border: 1px solid var(--primary)
}

.btn.outline.primary i, .btn.outline.primary span {
    color: var(--primary)
}

.btn.outline.primary:active {
    border: 1px solid #f4f5f6
}

.btn.outline.secondary {
    border: 1px solid var(--secondary)
}

.btn.outline.secondary i, .btn.outline.secondary span {
    color: var(--secondary)
}

.btn.outline.secondary:active {
    border: 1px solid #f4f5f6
}

.btn.outline.accent {
    border: 1px solid var(--accent)
}

.btn.outline.accent i, .btn.outline.accent span {
    color: var(--accent)
}

.btn.outline.accent:hover, .btn.outline.primary:hover, .btn.outline.secondary:hover {
    border: 1px solid #f4f5f6;
    background: #f4f5f6
}

.btn.outline.accent:active, .btn.outline.secondary:active, .btn.outline.primary:active {
    border: 1px solid #f0f1f2;
    background: #f0f1f2
}

.btn.solid {
    background: #f4f5f6
}

.btn.solid:hover {
    background: #f0f1f2
}

.btn.solid:active {
    background: #e7e8e9
}

.btn.solid.primary {
    background: var(--primary)
}

.btn.solid.primary i, .btn.solid.primary span {
    color: var(--primary-inverted, #fafafa)
}

.btn.solid.secondary {
    background: var(--secondary)
}

.btn.solid.secondary i, .btn.solid.secondary span {
    color: var(--secondary-inverted, #fafafa)
}

.btn.solid.accent {
    background: var(--accent);
    color: white
}

.btn.solid.accent i, .btn.solid.accent span {
    color: var(--accent-inverted, #fafafa)
}

.btn-outline-accent {
    color: var(--accent);
    border-color: var(--accent)
}

.btn-outline-accent:active {
    border-color: var(--accent)
}

.btn-accent-solid {
    background: var(--accent);
    color: white;
    border-color: var(--accent)
}

.btn-accent-solid i {
    color: white
}

.btn-accent-solid:active {
    background: var(--accent);
    border-color: var(--accent)
}

.naui-input {
    height: 45px;
    padding-left: .5rem;
    color: #555;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #dcdedf;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.02)
}

.naui-input:focus {
    border-color: var(--secondary)
}

.naui-field label {
    font-size: .9rem;
    color: var(--label, lightslategray);
    font-weight: 600;
    display: block;
    margin-left: 0.2rem;
    margin-bottom: 0.15rem
}

select.naui-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea.naui-input {
    padding: .5rem;
    min-height: 100px;
    height: auto;
    resize: none;
    background-color: white
}

.naui-input.input-back {
    background-color: var(--field-background)
}

select {
    height: 40px;
    border-radius: var(--border-radius, 4px);
    border: 1px solid var(--border-color, #CDCECF);
    padding-left: .5rem
}

.naui-field {
    position: relative
}

.naui-field select + span {
    position: absolute;
    right: .5rem;
    top: 1.25rem;
    pointer-events: none
}

input {
    min-height: 40px;
    border: 1px solid var(--border-color);
    outline: none
}

.naui-input, textarea.naui-input {
    background: white
}

.naui-search {
    border-radius: 20px;
    padding-left: 1rem
}

.naui-filter {
    height: 35px;
    font-size: .9rem;
    padding-left: .5rem;
    padding-right: .5rem;
    opacity: .6;
    cursor: pointer;
    background: none;
    outline: none;
    border: 1px solid #ddd
}

.naui-filter:hover {
    opacity: 1
}

.naui-date {
    background: var(--back-gray);
    border: 1px solid #eee;
    border-radius: 4rem;
    padding: .25rem 1rem;
    font-size: .8rem
}

.naui-date > span {
    font-weight: normal;
    color: #888
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 2rem
}

legend {
    padding-top: .5rem;
    color: var(--primary);
    margin-top: 10px;
    font-weight: 600;
    padding-bottom: .25rem;
    font-size: 18px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    margin-bottom: 1.5rem
}

input[type='radio'] {
    -webkit-appearance: none;
    border: none;
    min-height: 24px
}

input[type='radio']:before {
    display: block;
    font-family: 'Material Icons', sans-serif;
    content: '\e836';
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color)
}

input[type='radio']:checked:before {
    display: block;
    font-family: 'Material Icons', sans-serif;
    content: '\e837';
    font-size: 24px
}

.naui-table {
    border-collapse: collapse
}

.naui-table th {
    padding: 0 .5rem;
    background-color: var(--bg-gray);
    font-size: .9rem
}

.naui-table th > div {
    min-height: 35px;
    display: flex;
    align-items: center;
    color: var(--primary)
}

.naui-table td {
    padding: 0 .5rem;
    font-size: .9rem;
    font-weight: 600;
    border-bottom: 1px solid var(--border-color)
}

.naui-table td > div {
    min-height: 50px;
    display: flex;
    align-items: center
}

.naui-table tbody > tr:hover {
    background-color: #fafafa
}

.fieldset-table {
    border-collapse: collapse
}

.fieldset-table td:first-child {
    padding-left: 1.5rem;
    padding-right: .5rem;
    width: 300px;
    font-size: 1rem;
    font-weight: 600
}

.fieldset-table td:first-child > div {
    min-height: 50px;
    display: flex;
    align-items: center
}

.fieldset-table tr:nth-child(even) {
    background-color: var(--bg-gray-300)
}

.naui-table td input, .naui-table td .naui-input {
    min-height: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: .9rem;
    background: #fafafa
}

.naui-table select.naui-input {
    cursor: pointer
}

.naui-table select.naui-input + span {
    content: '';
    width: 7px;
    height: 7px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 2;
    right: .75rem;
    top: 1.25rem;
    pointer-events: none
}

.state-code-0 {
    background-color: var(--state-code-0)
}

.state-code-1 {
    background-color: var(--state-code-1)
}

.state-code-2 {
    background-color: var(--state-code-2)
}

.state-code-3 {
    background-color: var(--state-code-3)
}

.state-code-4 {
    background-color: var(--state-code-4)
}

.state-code-5 {
    background-color: var(--state-code-5)
}

.state-code-6 {
    background-color: var(--state-code-6)
}

.state-code-7 {
    background-color: var(--state-code-7)
}

.state-code-8 {
    background-color: var(--state-code-8)
}

.state-code-9 {
    background-color: var(--state-code-9)
}

.state-code-10 {
    background-color: var(--state-code-10)
}

blockquote {
    margin: 0;
    padding: 0.5rem 1rem;
    background: var(--bg-gray, #f5f5f5);
    width: max-content;
    border-left: 8px solid var(--border-color, #CCCCCC)
}

.naui-tag {
    color: var(--border-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
    background: #fafafa;
    font-size: .8rem
}

.naui-tag span {
    font-size: .8rem
}