@mixin web() {
  section {
    width: 100%;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 2rem);
  }
  @media (min-width: 768px) {
    .container {
      max-width: 95vw;
      width: 100%;
    }
  }
}

