$main-colors: ('primary', 'secondary', 'accent', 'gray');
$neutral-colors: ('white':white, 'black':black);

@mixin backgrounds() {
  @each $color in $main-colors {
    .bg-#{$color} {
      background: var(--color-#{$color});
      color: var(--color-#{$color}-inverted, white);
    }
  }
  @each $color in $main-colors {
    .bg-#{$color}-deep {
      background: var(--color-#{$color}-deep);
      color: var(--color-#{$color}-inverted, white);
    }
  }
  @each $color in $main-colors {
    .bg-#{$color}-soft {
      background: var(--color-#{$color}-soft);
      color: var(--color-#{$color}-fore);
    }
  }
  @each $color in $main-colors {
    .bg-#{$color}-pale {
      background: var(--color-#{$color}-pale);
      color: var(--color-#{$color}-fore);
    }
  }
  @each $color, $def in $neutral-colors {
    .bg-#{$color} {
      background: var(--color-#{$color}, $def);
      color: if($color=='black', white, var(--default));
    }
  }
}
