$main-colors: ('primary', 'secondary', 'accent', 'tertiary', 'gray');
$neutral-colors: ('white':white, 'black': black, 'default': #454545, 'lite': #ccc);

@mixin colors() {
  @each $color in $main-colors {
    .color-#{$color} {
      color: var(--color-#{$color});
    }
  }
  @each $color in $main-colors {
    .color-#{$color}-fore {
      color: var(--color-#{$color}-fore, white);
    }
  }
  @each $color in $main-colors {
    .color-#{$color}-inverted {
      color: var(--color-#{$color}-inverted, white);
    }
  }
  @each $color, $def in $neutral-colors {
    .color-#{$color} {
      color: var(--color-#{$color}, $def);
    }
  }
}