$colors: ('primary', 'secondary', 'tertiary', 'accent', 'default');


body {
  font-family: var(--font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
  color: var(--default);
}


@each $color in ('primary', 'secondary', 'tertiary', 'accent', 'default', 'gray') {
  .\!#{$color} {
    color: var(--#{$color});
  }
}

@each $color in ('primary', 'secondary', 'tertiary', 'accent', 'gray') {
  $default: white;
  @if $color=='gray' {
    $default: var(--default);
  }
  .\!bg-#{$color} {
    background: var(--bg-#{$color}, var(--#{$color}));
    color: var(--#{$color}-fore, $default);
  }
}

.\!white {
  color: var(--white, white);
}

.\!black {
  color: var(--black, black);
}

\!bg-black {
  background: var(--bg-black, black);
}

\!bg-white {
  background: var(--bg-white, white);
}

@each $h, $size in ('h1': 2.5rem, 'h2': 2rem, 'h3': 1.5rem, 'h4': 1.25rem, 'h5':1rem, 'h6': 1rem) {
  #{$h}, .#{$h} {
    font: var(--font-#{$h}, bold $size var(--font-family-heading));
  }
}

p, .p {
  font: var(--default, 400 1rem var(--font-family));
}

small .small {
  font: var(--font-small, 500 1rem var(--font-family));
}

.\!larger {
  font-size: 1.1em;
}

.\!smaller {
  font-size: 0.9em;
}
