@import "mixins/layout";

@media(min-width: 1024px) {
  @include main_utilities('m\\:');
  .m\:container {
    max-width: var(--container-max-width, 95vw);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
