/* naui:grid */
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-5-7 {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.grid-7-5 {
  display: grid;
  grid-template-columns: 7fr 5fr;
}
.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.grid-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid-3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.grid-1-auto {
  display: grid;
  grid-template-columns: 1fr auto;
}
.grid-auto-1 {
  display: grid;
  grid-template-columns: auto 1fr;
}
/* Columns */
.col-auto {
  grid-column: auto;
}
.col-1 {
  grid-column: span 1 / span 1;
}
.col-2 {
  grid-column: span 2 / span 2;
}
.col-3 {
  grid-column: span 3 / span 3;
}
.col-4 {
  grid-column: span 4 / span 4;
}
.col-5 {
  grid-column: span 5 / span 5;
}
.col-6 {
  grid-column: span 6 / span 6;
}
.col-7 {
  grid-column: span 7 / span 7;
}
.col-8 {
  grid-column: span 8 / span 8;
}
.col-9 {
  grid-column: span 9 / span 9;
}
.col-10 {
  grid-column: span 10 / span 10;
}
.col-11 {
  grid-column: span 11 / span 11;
}
.col-12 {
  grid-column: span 12 / span 12;
}
/* naui:gaps */
.gap-0 {
  grid-gap: 0;
}
.gap-i {
  grid-gap: .25rem;
}
.gap-ii {
  grid-gap: .5rem;
}
.gap-iii {
  grid-gap: .75rem;
}
.gap-1 {
  grid-gap: 1rem;
}
.gap-15 {
  grid-gap: 1.5rem;
}
.gap-2 {
  grid-gap: 2rem;
}
.gap-25 {
  grid-gap: 2.5rem;
}
.gap-3 {
  grid-gap: 3rem;
}
.gap-x-0 {
  column-gap: 0;
}
.gap-y-0 {
  row-gap: 0;
}
