/* naui:position */
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.edges-0{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.edges-auto{
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
}

.top-0 {
    top: 0
}

.bottom-0 {
    bottom: 0
}

.right-0 {
    right: 0
}

.left-0 {
    left: 0
}