/* naui:spacing */
.sx-0 > * + * {
  margin-left: 0;
}
.sx-i > * + * {
  margin-left: 0.25rem;
}
.sx-ii > * + * {
  margin-left: 0.5rem;
}
.sx-iii > * + * {
  margin-left: 0.75rem;
}
.sx-1 > * + * {
  margin-left: 1rem;
}
.sx-15 > * + * {
  margin-left: 1.5rem;
}
.sx-2 > * + * {
  margin-left: 2rem;
}
.sx-25 > * + * {
  margin-left: 2.5rem;
}
.sx-3 > * + * {
  margin-left: 3rem;
}
.sy-0 > * + * {
  margin-top: 0;
}
.sy-i > * + * {
  margin-top: 0.25rem;
}
.sy-ii > * + * {
  margin-top: 0.5rem;
}
.sy-iii > * + * {
  margin-top: 0.75rem;
}
.sy-1 > * + * {
  margin-top: 1rem;
}
.sy-15 > * + * {
  margin-top: 1.5rem;
}
.sy-2 > * + * {
  margin-top: 2rem;
}
.sy-25 > * + * {
  margin-top: 2.5rem;
}
.sy-3 > * + * {
  margin-top: 3rem;
}
